---
swagger: "2.0"
info:
  description: "One way to interact with the Slack platform is its HTTP RPC-based\
    \ Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace\
    \ tokens blessed with related OAuth scopes."
  version: "1.2.0"
  title: "Slack Web API"
host: "slack.com"
basePath: "/api"
schemes:
- "https"
paths:
  /admin.users.session.reset:
    post:
      tags:
      - "admin.users.session"
      - "admin"
      description: "Wipes all valid sessions on all devices for a given user"
      operationId: "admin_users_session_reset"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              ok: true
          schema:
            $ref: "#/definitions/Default success template"
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            $ref: "#/definitions/Default success template"
      security:
      - slackAuth:
        - "admin.users:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/admin.users.session.reset"
  /api.test:
    get:
      tags:
      - "api"
      description: "Checks API calling code."
      operationId: "api_test"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "foo"
        in: "query"
        description: "example property to return"
        required: false
        type: "string"
        x-exportParamName: "Foo"
        x-optionalDataType: "String"
      - name: "error"
        in: "query"
        description: "Error response to return"
        required: false
        type: "string"
        x-exportParamName: "Error_"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Standard success response"
          examples:
            application/json:
              ok: true
          schema:
            type: "object"
            required:
            - "ok"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "api.test success schema"
            description: "Schema for successful response api.test method"
            additionalProperties:
              type: "object"
              properties: {}
        default:
          description: "Artificial error response"
          examples:
            application/json:
              args:
                error: "my_error"
              error: "my_error"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "api.test error schema"
            description: "Schema for error response api.test method"
            additionalProperties:
              type: "object"
              properties: {}
      security:
      - slackAuth:
        - "none"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/api.test"
  /apps.permissions.info:
    get:
      tags:
      - "apps.permissions"
      - "apps"
      description: "Returns list of permissions this app has on a team."
      operationId: "apps_permissions_info"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `none`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Standard success response when used with a user token"
          examples:
            application/json:
              info:
                app_home:
                  resources:
                    ids:
                    - "D0C0NU1Q8"
                    - "D0BH95DLH"
                  scopes:
                  - "chat:write"
                  - "im:history"
                  - "im:read"
                channel:
                  resources:
                    excluded_ids: []
                    ids:
                    - "C061FA5PB"
                    wildcard: false
                  scopes:
                  - "channels:read"
                group:
                  resources:
                    ids: []
                  scopes: []
                im:
                  resources:
                    ids: []
                  scopes: []
                mpim:
                  resources:
                    ids: []
                  scopes: []
                team:
                  resources:
                    ids: []
                  scopes: []
              ok: true
          schema:
            type: "object"
            required:
            - "info"
            - "ok"
            properties:
              info:
                type: "object"
                properties:
                  app_home:
                    type: "object"
                    properties:
                      resources:
                        $ref: "#/definitions/objs_resources"
                      scopes:
                        $ref: "#/definitions/objs_scopes"
                  channel:
                    type: "object"
                    properties:
                      resources:
                        $ref: "#/definitions/objs_resources"
                      scopes:
                        $ref: "#/definitions/objs_scopes"
                  group:
                    type: "object"
                    properties:
                      resources:
                        $ref: "#/definitions/objs_resources"
                      scopes:
                        $ref: "#/definitions/objs_scopes"
                  im:
                    type: "object"
                    properties:
                      resources:
                        $ref: "#/definitions/objs_resources"
                      scopes:
                        $ref: "#/definitions/objs_scopes"
                  mpim:
                    type: "object"
                    properties:
                      resources:
                        $ref: "#/definitions/objs_resources"
                      scopes:
                        $ref: "#/definitions/objs_scopes"
                  team:
                    type: "object"
                    properties:
                      resources:
                        $ref: "#/definitions/objs_resources"
                      scopes:
                        $ref: "#/definitions/objs_scopes"
                    required:
                    - "resources"
                    - "scopes"
                required:
                - "app_home"
                - "channel"
                - "group"
                - "im"
                - "mpim"
                - "team"
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "apps.permissions.info schema"
            description: "Schema for successful response from apps.permissions.info\
              \ method"
            additionalProperties: {}
        default:
          description: "Standard failure response when used with an invalid token"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "user_is_bot"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "apps.permissions.info error schema"
            description: "Schema for error response from apps.permissions.info method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "none"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/apps.permissions.info"
  /apps.permissions.request:
    get:
      tags:
      - "apps.permissions"
      - "apps"
      description: "Allows an app to request additional scopes"
      operationId: "apps_permissions_request"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "scopes"
        in: "query"
        description: "A comma separated list of scopes to request for"
        required: false
        type: "string"
        x-exportParamName: "Scopes"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `none`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "trigger_id"
        in: "query"
        description: "Token used to trigger the permissions API"
        required: false
        type: "string"
        x-exportParamName: "TriggerId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Standard success response when used with a user token"
          examples:
            application/json:
              ok: true
          schema:
            type: "object"
            required:
            - "ok"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "apps.permissions.request schema"
            description: "Schema for successful response from apps.permissions.request\
              \ method"
            additionalProperties: {}
        default:
          description: "Standard failure response when trigger_id is invalid"
          examples:
            application/json:
              error: "invalid_trigger_id"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "invalid_trigger"
                - "trigger_exchanged"
                - "invalid_scope"
                - "invalid_user"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "user_is_bot"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "apps.permissions.request error schema"
            description: "Schema for error response from apps.permissions.request\
              \ method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "none"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/apps.permissions.request"
  /apps.permissions.resources.list:
    get:
      tags:
      - "apps.permissions.resources"
      - "apps"
      description: "Returns list of resource grants this app has on a team."
      operationId: "apps_permissions_resources_list"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "cursor"
        in: "query"
        description: "Paginate through collections of data by setting the `cursor`\
          \ parameter to a `next_cursor` attribute returned by a previous request's\
          \ `response_metadata`. Default value fetches the first \"page\" of the collection.\
          \ See [pagination](/docs/pagination) for more detail."
        required: false
        type: "string"
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `none`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "The maximum number of items to return."
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Typical successful paginated response"
          examples:
            application/json:
              ok: true
              resources:
              - id: "T0DES3UAN"
                type: "team"
              - id: "D024BFF1M"
                type: "app_home"
              - id: "C024BE91L"
                type: "channel"
              response_metadata:
                next_cursor: "dGVhbTpDMUg5UkVTR0w="
          schema:
            type: "object"
            required:
            - "ok"
            - "resources"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
              resources:
                type: "array"
                items:
                  type: "object"
                  properties:
                    id:
                      type: "string"
                      title: "An ID for a resource"
                      x-examples:
                      - "T0DES3UAN"
                      - "C0ABC1ABC"
                    type:
                      type: "string"
                      title: "The type of resource the `id` corresponds to"
                      x-examples:
                      - "team"
                      - "channel"
                      - "mpim"
              response_metadata:
                type: "object"
                properties:
                  next_cursor:
                    type: "string"
                    x-examples:
                    - "dGVhbTpDMUg5UkVTR0w="
                required:
                - "next_cursor"
            title: "apps.permissions.resources.list success schema"
            description: "Schema for successful response apps.permissions.resources.list\
              \ method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_cursor"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "invalid_cursor"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "user_is_bot"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "apps.permissions.resources.list error schema"
            description: "Schema for error response from apps.permissions.resources.list\
              \ method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "none"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/apps.permissions.resources.list"
  /apps.permissions.scopes.list:
    get:
      tags:
      - "apps.permissions.scopes"
      - "apps"
      description: "Returns list of scopes this app has on a team."
      operationId: "apps_permissions_scopes_list"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `none`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical successful paginated response"
          examples:
            application/json:
              ok: true
              scopes:
                app_home:
                - "chat:write"
                - "im:history"
                - "im:read"
                channel:
                - "channels:history"
                - "chat:write"
                group:
                - "chat:write"
                im:
                - "chat:write"
                mpim:
                - "chat:write"
                team:
                - "users:read"
                user: []
          schema:
            type: "object"
            required:
            - "ok"
            - "scopes"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
              scopes:
                type: "object"
                properties:
                  app_home:
                    $ref: "#/definitions/objs_scopes"
                  channel:
                    $ref: "#/definitions/objs_scopes"
                  group:
                    $ref: "#/definitions/objs_scopes"
                  im:
                    $ref: "#/definitions/objs_scopes"
                  mpim:
                    $ref: "#/definitions/objs_scopes"
                  team:
                    $ref: "#/definitions/objs_scopes"
                  user:
                    $ref: "#/definitions/objs_scopes"
            title: "api.permissions.scopes.list success schema"
            description: "Schema for successful response api.permissions.scopes.list\
              \ method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "user_is_bot"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "apps.permissions.scopes.list error schema"
            description: "Schema for error response from apps.permissions.scopes.list\
              \ method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "none"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/apps.permissions.scopes.list"
  /apps.permissions.users.list:
    get:
      tags:
      - "apps.permissions.users"
      - "apps"
      description: "Returns list of user grants and corresponding scopes this app\
        \ has on a team."
      operationId: "apps_permissions_users_list"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "cursor"
        in: "query"
        description: "Paginate through collections of data by setting the `cursor`\
          \ parameter to a `next_cursor` attribute returned by a previous request's\
          \ `response_metadata`. Default value fetches the first \"page\" of the collection.\
          \ See [pagination](/docs/pagination) for more detail."
        required: false
        type: "string"
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `none`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "The maximum number of items to return."
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Typical successful paginated response"
          examples:
            application/json:
              ok: true
              resources:
              - id: "U0DES3UAN"
                scopes:
                - "dnd:write:user"
                - "reminders:write:user"
              - id: "U024BFF1M"
                scopes:
                - "reminders:write:user"
              response_metadata:
                next_cursor: "dGVhbTdPMUg5UkFTT0w="
          schema:
            $ref: "#/definitions/Default success template"
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_cursor"
              ok: false
          schema:
            $ref: "#/definitions/Default success template"
      security:
      - slackAuth:
        - "none"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/apps.permissions.users.list"
  /apps.permissions.users.request:
    get:
      tags:
      - "apps.permissions.users"
      - "apps"
      description: "Enables an app to trigger a permissions modal to grant an app\
        \ access to a user access scope."
      operationId: "apps_permissions_users_request"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "scopes"
        in: "query"
        description: "A comma separated list of user scopes to request for"
        required: false
        type: "string"
        x-exportParamName: "Scopes"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `none`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "user"
        in: "query"
        description: "The user this scope is being requested for"
        required: false
        type: "string"
        x-exportParamName: "User"
        x-optionalDataType: "String"
      - name: "trigger_id"
        in: "query"
        description: "Token used to trigger the request"
        required: false
        type: "string"
        x-exportParamName: "TriggerId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Standard success response when used with a user token"
          examples:
            application/json:
              ok: true
          schema:
            $ref: "#/definitions/Default success template"
        default:
          description: "Standard failure response when trigger_id is invalid"
          examples:
            application/json:
              error: "invalid_trigger_id"
              ok: false
          schema:
            $ref: "#/definitions/Default success template"
      security:
      - slackAuth:
        - "none"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/apps.permissions.users.request"
  /apps.uninstall:
    get:
      tags:
      - "apps"
      description: "Uninstalls your app from a workspace."
      operationId: "apps_uninstall"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "client_secret"
        in: "query"
        description: "Issued when you created your application."
        required: false
        type: "string"
        x-exportParamName: "ClientSecret"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `none`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "client_id"
        in: "query"
        description: "Issued when you created your application."
        required: false
        type: "string"
        x-exportParamName: "ClientId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              ok: true
          schema:
            type: "object"
            required:
            - "ok"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "apps.uninstall schema"
            description: "Schema for successful response from apps.uninstall method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "invalid_client_id"
                - "bad_client_secret"
                - "client_id_token_mismatch"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "user_is_bot"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "apps.uninstall error schema"
            description: "Schema for error response from apps.uninstall method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "none"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/apps.uninstall"
  /auth.revoke:
    get:
      tags:
      - "auth"
      description: "Revokes a token."
      operationId: "auth_revoke"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "test"
        in: "query"
        description: "Setting this parameter to `1` triggers a _testing mode_ where\
          \ the specified token will not actually be revoked."
        required: false
        type: "boolean"
        x-exportParamName: "Test"
        x-optionalDataType: "Bool"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `none`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              ok: true
              revoked: true
          schema:
            type: "object"
            required:
            - "ok"
            - "revoked"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
              revoked:
                type: "boolean"
            title: "auth.revoke schema"
            description: "Schema for successful response from auth.revoke method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "auth.revoke error schema"
            description: "Schema for error response from auth.revoke method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "none"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/auth.revoke"
  /auth.test:
    get:
      tags:
      - "auth"
      description: "Checks authentication & identity."
      operationId: "auth_test"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "Standard success response when used with a user token"
          examples:
            application/json:
              ok: true
              team: "Subarachnoid Workspace"
              team_id: "T12345678"
              url: "https://subarachnoid.slack.com/"
              user: "grace"
              user_id: "W12345678"
          schema:
            type: "object"
            required:
            - "ok"
            - "team"
            - "team_id"
            - "url"
            - "user"
            - "user_id"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
              team:
                type: "string"
              team_id:
                $ref: "#/definitions/defs_team"
              url:
                type: "string"
              user:
                type: "string"
              user_id:
                $ref: "#/definitions/defs_user_id"
            title: "auth.test success schema"
            description: "Schema for successful response auth.test method"
            additionalProperties: {}
        default:
          description: "Standard failure response when used with an invalid token"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "not_authed"
                - "invalid_auth"
                - "token_revoked"
                - "account_inactive"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "auth.test error schema"
            description: "Schema for error response auth.test method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "none"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/auth.test"
  /bots.info:
    get:
      tags:
      - "bots"
      description: "Gets information about a bot user."
      operationId: "bots_info"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `users:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "bot"
        in: "query"
        description: "Bot user to get info on"
        required: false
        type: "string"
        x-exportParamName: "Bot"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "When successful, returns bot info by bot ID."
          examples:
            application/json:
              bot:
                app_id: "A161CLERW"
                deleted: false
                icons:
                  image_36: "https://..."
                  image_48: "https://..."
                  image_72: "https://..."
                id: "B061F7JD2"
                name: "beforebot"
                updated: 1449272004
                user_id: "U012ABCDEF"
              ok: true
          schema:
            type: "object"
            required:
            - "bot"
            - "ok"
            properties:
              bot:
                type: "object"
                properties:
                  app_id:
                    $ref: "#/definitions/defs_app_id"
                  deleted:
                    type: "boolean"
                  icons:
                    type: "object"
                    properties:
                      image_36:
                        type: "string"
                        format: "uri"
                      image_48:
                        type: "string"
                        format: "uri"
                      image_72:
                        type: "string"
                        format: "uri"
                    required:
                    - "image_36"
                    - "image_48"
                    - "image_72"
                  id:
                    $ref: "#/definitions/defs_bot_id"
                  name:
                    type: "string"
                  updated:
                    type: "integer"
                  user_id:
                    $ref: "#/definitions/defs_user_id"
                required:
                - "app_id"
                - "deleted"
                - "icons"
                - "id"
                - "name"
                - "updated"
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "bots.info schema"
            description: "Schema for successful response from bots.info method"
            additionalProperties: {}
        default:
          description: "When no bot can be found, it returns an error."
          examples:
            application/json:
              error: "bot_not_found"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "bot_not_found"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "bots.info error schema"
            description: "Schema for error response from bots.info method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "users:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/bots.info"
  /channels.archive:
    post:
      tags:
      - "channels"
      description: "Archives a channel."
      operationId: "channels_archive"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `channels:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "channel"
        in: "formData"
        description: "Channel to archive"
        required: false
        type: "string"
        x-exportParamName: "Channel"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              ok: true
          schema:
            type: "object"
            required:
            - "ok"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "channels.archive success schema"
            description: "Schema for successful response from channels.archive method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "channel_not_found"
                - "already_archived"
                - "cant_archive_general"
                - "restricted_action"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "user_is_bot"
                - "user_is_restricted"
                - "user_is_ultra_restricted"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "team_added_to_org"
                - "missing_charset"
                - "superfluous_charset"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.archive error schema"
            description: "Schema for error response channels.archive method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.archive"
  /channels.create:
    post:
      tags:
      - "channels"
      description: "Creates a channel."
      operationId: "channels_create"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "validate"
        in: "formData"
        description: "Whether to return errors on invalid channel name instead of\
          \ modifying it to meet the specified criteria."
        required: false
        type: "boolean"
        x-exportParamName: "Validate"
        x-optionalDataType: "Bool"
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `channels:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "name"
        in: "formData"
        description: "Name of channel to create"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response resulting in a new channel"
          examples:
            application/json:
              channel:
                created: 1502833204
                creator: "U061F7AUR"
                id: "C0DEL09A5"
                is_archived: false
                is_channel: true
                is_general: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                last_read: "0000000000.000000"
                members:
                - "U061F7AUR"
                name: "endeavor"
                name_normalized: "endeavor"
                previous_names: []
                purpose:
                  creator: ""
                  last_set: 0
                  value: ""
                topic:
                  creator: ""
                  last_set: 0
                  value: ""
                unread_count: 0
                unread_count_display: 0
              ok: true
          schema:
            type: "object"
            required:
            - "channel"
            - "ok"
            properties:
              channel:
                $ref: "#/definitions/objs_channel"
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "channels.create error schema"
            description: "Schema for successful response channels.create method"
            additionalProperties: {}
        default:
          description: "Example error response when an invalid name is provided"
          examples:
            application/json:
              detail: "Value passed for `name` contained unallowed special characters."
              error: "invalid_name_specials"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "name_taken"
                - "restricted_action"
                - "no_channel"
                - "invalid_name_required"
                - "invalid_name_punctuation"
                - "invalid_name_maxlength"
                - "invalid_name_specials"
                - "invalid_name"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "user_is_bot"
                - "user_is_restricted"
                - "user_is_ultra_restricted"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "team_added_to_org"
                - "missing_charset"
                - "superfluous_charset"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.create error schema"
            description: "Schema for error response channels.create method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.create"
  /channels.history:
    get:
      tags:
      - "channels"
      description: "Fetches history of messages and events from a channel."
      operationId: "channels_history"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "count"
        in: "query"
        description: "Number of messages to return, between 1 and 1000."
        required: false
        type: "integer"
        x-exportParamName: "Count"
        x-optionalDataType: "Int32"
      - name: "unreads"
        in: "query"
        description: "Include `unread_count_display` in the output?"
        required: false
        type: "boolean"
        x-exportParamName: "Unreads"
        x-optionalDataType: "Bool"
      - name: "inclusive"
        in: "query"
        description: "Include messages with latest or oldest timestamp in results."
        required: false
        type: "boolean"
        x-exportParamName: "Inclusive"
        x-optionalDataType: "Bool"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `channels:history`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "oldest"
        in: "query"
        description: "Start of time range of messages to include in results."
        required: false
        type: "number"
        x-exportParamName: "Oldest"
        x-optionalDataType: "Float32"
      - name: "channel"
        in: "query"
        description: "Channel to fetch history for."
        required: false
        type: "string"
        x-exportParamName: "Channel"
        x-optionalDataType: "String"
      - name: "latest"
        in: "query"
        description: "End of time range of messages to include in results."
        required: false
        type: "number"
        x-exportParamName: "Latest"
        x-optionalDataType: "Float32"
      responses:
        "200":
          description: "Typical success response containing the channel's history"
          examples:
            application/json:
              has_more: false
              messages:
              - text: "Hello"
                ts: "1358546515.000008"
                type: "message"
                user: "U2147483896"
              - is_starred: true
                reactions:
                - count: 3
                  name: "space_invader"
                  users:
                  - "U1"
                  - "U2"
                  - "U3"
                - count: 5
                  name: "sweet_potato"
                  users:
                  - "U1"
                  - "U2"
                  - "U3"
                  - "U4"
                  - "U5"
                text: "World"
                ts: "1358546515.000007"
                type: "message"
                user: "U2147483896"
              - ts: "1358546515.000007"
                type: "something_else"
              - attachments:
                - fallback: "This is an attachment fallback"
                  id: 1
                  text: "Don't get too attached"
                bot_id: "B19LU7CSY"
                subtype: "bot_message"
                text: "Containment unit is 98% full"
                ts: "1503435956.000247"
                type: "message"
                username: "ecto1138"
              ok: true
          schema:
            type: "object"
            required:
            - "has_more"
            - "messages"
            - "ok"
            properties:
              has_more:
                type: "boolean"
              is_limited:
                type: "boolean"
              messages:
                type: "array"
                uniqueItems: true
                items:
                  $ref: "#/definitions/objs_message"
                minItems: 1
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "channels.history success schema"
            description: "Schema for successful response channels.history method"
            additionalProperties: {}
        default:
          description: "Error response when the specified channel cannot be found"
          examples:
            application/json:
              error: "channel_not_found"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "channel_not_found"
                - "invalid_ts_latest"
                - "invalid_ts_oldest"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.history error schema"
            description: "Schema for error response channels.history method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:history"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.history"
  /channels.info:
    get:
      tags:
      - "channels"
      description: "Gets information about a channel."
      operationId: "channels_info"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `channels:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "include_locale"
        in: "query"
        description: "Set this to `true` to receive the locale for this channel. Defaults\
          \ to `false`"
        required: false
        type: "boolean"
        x-exportParamName: "IncludeLocale"
        x-optionalDataType: "Bool"
      - name: "channel"
        in: "query"
        description: "Channel to get info on"
        required: false
        type: "string"
        x-exportParamName: "Channel"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              channel:
                created: 1466025154
                creator: "U0G9QF9C6"
                id: "C1H9RESGL"
                is_archived: false
                is_channel: true
                is_general: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                last_read: "1503435939.000101"
                latest:
                  attachments:
                  - fallback: "This is an attachment fallback"
                    id: 1
                    text: "Don't get too attached"
                  bot_id: "B19LU7CSY"
                  subtype: "bot_message"
                  text: "Containment unit is 98% full"
                  ts: "1503435956.000247"
                  type: "message"
                  username: "ecto1138"
                members:
                - "U0G9QF9C6"
                - "U1QNSQB9U"
                name: "busting"
                name_normalized: "busting"
                previous_names:
                - "dusting"
                purpose:
                  creator: "U0G9QF9C6"
                  last_set: 1503435128
                  value: "Discuss busting ghosts"
                topic:
                  creator: "U0G9QF9C6"
                  last_set: 1503435128
                  value: "Spiritual containment strategies"
                unread_count: 1
                unread_count_display: 1
              ok: true
          schema:
            type: "object"
            required:
            - "channel"
            - "ok"
            properties:
              channel:
                $ref: "#/definitions/objs_channel"
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "channels.info success schema"
            description: "Schema for successful response channels.info method"
            additionalProperties: {}
        default:
          description: "Error response when the specified channel cannot be found"
          examples:
            application/json:
              error: "channel_not_found"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "channel_not_found"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "team_added_to_org"
                - "missing_charset"
                - "superfluous_charset"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.info error schema"
            description: "Schema for error response channels.info method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.info"
  /channels.invite:
    post:
      tags:
      - "channels"
      description: "Invites a user to a channel."
      operationId: "channels_invite"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `channels:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "user"
        in: "formData"
        description: "User to invite to channel."
        required: false
        type: "string"
        x-exportParamName: "User"
        x-optionalDataType: "String"
      - name: "channel"
        in: "formData"
        description: "Channel to invite user to."
        required: false
        type: "string"
        x-exportParamName: "Channel"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              channel:
                created: 1466025154
                creator: "U0G9QF9C6"
                id: "C1H9RESGL"
                is_archived: false
                is_channel: true
                is_general: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                last_read: "1503435963.000307"
                latest:
                  subtype: "channel_leave"
                  text: "<@U1QNSQB9U|protobot> has left the channel"
                  ts: "1503435963.000307"
                  type: "message"
                  user: "U1QNSQB9U"
                members:
                - "U0G9QF9C6"
                - "U1QNSQB9U"
                name: "busting"
                name_normalized: "busting"
                previous_names: []
                purpose:
                  creator: "U0G9QF9C6"
                  last_set: 1503435128
                  value: "My Purpose"
                topic:
                  creator: "U0G9QF9C6"
                  last_set: 1503435128
                  value: "My Topic"
                unread_count: 0
                unread_count_display: 0
              ok: true
          schema:
            type: "object"
            required:
            - "channel"
            - "ok"
            properties:
              channel:
                $ref: "#/definitions/objs_channel"
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "channels.invite error schema"
            description: "Schema for successful response channels.invite method"
            additionalProperties: {}
        default:
          description: "A somewhat typical error response"
          examples:
            application/json:
              error: "cant_invite"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "channel_not_found"
                - "user_not_found"
                - "cant_invite_self"
                - "not_in_channel"
                - "already_in_channel"
                - "is_archived"
                - "cant_invite"
                - "too_many_users"
                - "ura_max_channels"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "user_is_bot"
                - "user_is_restricted"
                - "user_is_ultra_restricted"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "team_added_to_org"
                - "missing_charset"
                - "superfluous_charset"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.invite error schema"
            description: "Schema for error response channels.invite method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.invite"
  /channels.join:
    post:
      tags:
      - "channels"
      description: "Joins a channel, creating it if needed."
      operationId: "channels_join"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "validate"
        in: "formData"
        description: "Whether to return errors on invalid channel name instead of\
          \ modifying it to meet the specified criteria."
        required: false
        type: "boolean"
        x-exportParamName: "Validate"
        x-optionalDataType: "Bool"
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `channels:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "name"
        in: "formData"
        description: "Name of channel to join"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              already_in_channel: true
              channel:
                created: 1466025154
                creator: "U0G9QF9C6"
                id: "C1H9RESGL"
                is_archived: false
                is_channel: true
                is_general: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                members:
                - "U0G9QF9C6"
                - "U1QNSQB9U"
                name: "busting"
                name_normalized: "busting"
                previous_names: []
                purpose:
                  creator: "U0G9QF9C6"
                  last_set: 1503435128
                  value: "My Purpose"
                topic:
                  creator: "U0G9QF9C6"
                  last_set: 1503435128
                  value: "My Topic"
              ok: true
          schema:
            type: "object"
            required:
            - "channel"
            - "ok"
            properties:
              already_in_channel:
                type: "boolean"
              channel:
                $ref: "#/definitions/objs_channel"
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "channels.join schema"
            description: "Schema for successful response from channels.join method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "channel_not_found"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "channel_not_found"
                - "name_taken"
                - "restricted_action"
                - "no_channel"
                - "is_archived"
                - "invalid_name_required"
                - "invalid_name_punctuation"
                - "invalid_name_maxlength"
                - "invalid_name_specials"
                - "invalid_name"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "user_is_bot"
                - "user_is_restricted"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.join error schema"
            description: "Schema for error response from channels.join method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.join"
  /channels.kick:
    post:
      tags:
      - "channels"
      description: "Removes a user from a channel."
      operationId: "channels_kick"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `channels:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "user"
        in: "formData"
        description: "User to remove from channel."
        required: false
        type: "string"
        x-exportParamName: "User"
        x-optionalDataType: "String"
      - name: "channel"
        in: "formData"
        description: "Channel to remove user from."
        required: false
        type: "string"
        x-exportParamName: "Channel"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              ok: true
          schema:
            type: "object"
            required:
            - "ok"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "channels.kick schema"
            description: "Schema for successful response from channels.kick method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "not_in_channel"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "channel_not_found"
                - "user_not_found"
                - "cant_kick_self"
                - "not_in_channel"
                - "cant_kick_from_general"
                - "restricted_action"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "user_is_bot"
                - "user_is_restricted"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.kick error schema"
            description: "Schema for error response from channels.kick method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.kick"
  /channels.leave:
    post:
      tags:
      - "channels"
      description: "Leaves a channel."
      operationId: "channels_leave"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `channels:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "channel"
        in: "formData"
        description: "Channel to leave"
        required: false
        type: "string"
        x-exportParamName: "Channel"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              ok: true
          schema:
            type: "object"
            required:
            - "ok"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "channels.leave schema"
            description: "Schema for successful response from channels.leave method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "channel_not_found"
                - "is_archived"
                - "cant_leave_general"
                - "cant_leave_mandatory_shared_channel"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "user_is_bot"
                - "user_is_restricted"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.leave error schema"
            description: "Schema for error response from channels.leave method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.leave"
  /channels.list:
    get:
      tags:
      - "channels"
      description: "Lists all channels in a Slack team."
      operationId: "channels_list"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "exclude_members"
        in: "query"
        description: "Exclude the `members` collection from each `channel`"
        required: false
        type: "boolean"
        x-exportParamName: "ExcludeMembers"
        x-optionalDataType: "Bool"
      - name: "cursor"
        in: "query"
        description: "Paginate through collections of data by setting the `cursor`\
          \ parameter to a `next_cursor` attribute returned by a previous request's\
          \ `response_metadata`. Default value fetches the first \"page\" of the collection.\
          \ See [pagination](/docs/pagination) for more detail."
        required: false
        type: "string"
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `channels:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "The maximum number of items to return. Fewer than the requested\
          \ number of items may be returned, even if the end of the users list hasn't\
          \ been reached."
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "exclude_archived"
        in: "query"
        description: "Exclude archived channels from the list"
        required: false
        type: "boolean"
        x-exportParamName: "ExcludeArchived"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "Typical cursored success response"
          examples:
            application/json:
              channels:
              - created: 1449709280
                creator: "U0G9QF9C6"
                id: "C0G9QF9GW"
                is_archived: false
                is_channel: true
                is_general: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                members:
                - "U0G9QF9C6"
                - "U0G9WFXNZ"
                name: "random"
                name_normalized: "random"
                num_members: 2
                previous_names: []
                purpose:
                  creator: ""
                  last_set: 0
                  value: "A place for non-work-related flimflam, faffing, hodge-podge\
                    \ or jibber-jabber you'd prefer to keep out of more focused work-related\
                    \ channels."
                topic:
                  creator: "U0G9QF9C6"
                  last_set: 1449709352
                  value: "Other stuff"
              - created: 1449709280
                creator: "U0G9QF9C6"
                id: "C0G9QKBBL"
                is_archived: false
                is_channel: true
                is_general: true
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                members:
                - "U0G9QF9C6"
                - "U0G9WFXNZ"
                name: "general"
                name_normalized: "general"
                num_members: 2
                previous_names: []
                purpose:
                  creator: "U0G9QF9C6"
                  last_set: 1449709334
                  value: "To talk about anything!"
                topic:
                  creator: "U0G9QF9C6"
                  last_set: 1449709364
                  value: "Talk about anything!"
              ok: true
              response_metadata:
                next_cursor: "dGVhbTpDMUg5UkVTR0w="
          schema:
            type: "object"
            required:
            - "channels"
            - "ok"
            properties:
              channels:
                type: "array"
                uniqueItems: true
                items:
                  $ref: "#/definitions/objs_channel"
                minItems: 1
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "channels.list success schema"
            description: "Schema for successful response channels.list method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "limit_required"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.list error schema"
            description: "Schema for error response channels.list method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.list"
  /channels.mark:
    post:
      tags:
      - "channels"
      description: "Sets the read cursor in a channel."
      operationId: "channels_mark"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `channels:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "ts"
        in: "formData"
        description: "Timestamp of the most recently seen message."
        required: false
        type: "number"
        x-exportParamName: "Ts"
        x-optionalDataType: "Float32"
      - name: "channel"
        in: "formData"
        description: "Channel to set reading cursor in."
        required: false
        type: "string"
        x-exportParamName: "Channel"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              ok: true
          schema:
            type: "object"
            required:
            - "ok"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "channels.mark success schema"
            description: "Schema for successful response channels.mark method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "channel_not_found"
                - "invalid_timestamp"
                - "not_in_channel"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.mark error schema"
            description: "Schema for error response channels.mark method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.mark"
  /channels.rename:
    post:
      tags:
      - "channels"
      description: "Renames a channel."
      operationId: "channels_rename"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "validate"
        in: "formData"
        description: "Whether to return errors on invalid channel name instead of\
          \ modifying it to meet the specified criteria."
        required: false
        type: "boolean"
        x-exportParamName: "Validate"
        x-optionalDataType: "Bool"
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `channels:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "name"
        in: "formData"
        description: "New name for channel."
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "channel"
        in: "formData"
        description: "Channel to rename"
        required: false
        type: "string"
        x-exportParamName: "Channel"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              channel:
                created: 1477445146
                creator: "U2U85N1RZ"
                id: "C2U875RJN"
                is_archived: false
                is_channel: true
                is_general: false
                is_member: false
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                members: []
                name: "humans-and-bots"
                name_normalized: "humans-and-bots"
                previous_names:
                - "humans"
                purpose:
                  creator: "U2U85N1RZ"
                  last_set: 1509475801
                  value: "the purpose of this channel is to bring people and robots\
                    \ together in harmony"
                topic:
                  creator: "U2U85N1RZ"
                  last_set: 1509475775
                  value: "here be robots"
                unlinked: 0
              ok: true
          schema:
            type: "object"
            required:
            - "channel"
            - "ok"
            properties:
              channel:
                $ref: "#/definitions/objs_channel"
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "channels.rename schema"
            description: "Schema for successful response from channels.rename method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "channel_not_found"
                - "not_in_channel"
                - "not_authorized"
                - "invalid_name"
                - "name_taken"
                - "invalid_name_required"
                - "invalid_name_punctuation"
                - "invalid_name_maxlength"
                - "invalid_name_specials"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "user_is_bot"
                - "user_is_restricted"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.rename error schema"
            description: "Schema for error response from channels.rename method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.rename"
  /channels.replies:
    get:
      tags:
      - "channels"
      description: "Retrieve a thread of messages posted to a channel"
      operationId: "channels_replies"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "thread_ts"
        in: "query"
        description: "Unique identifier of a thread's parent message"
        required: false
        type: "number"
        x-exportParamName: "ThreadTs"
        x-optionalDataType: "Float32"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `channels:history`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "channel"
        in: "query"
        description: "Channel to fetch thread from"
        required: false
        type: "string"
        x-exportParamName: "Channel"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              has_more: false
              messages:
              - last_read: "1509484885.000082"
                replies:
                - ts: "1509484424.000601"
                  user: "U2U85N1RZ"
                - ts: "1509484885.000082"
                  user: "U2U85N1RZ"
                reply_count: 2
                subscribed: true
                text: "This is a channel message"
                thread_ts: "1485913694.000025"
                ts: "1485913694.000025"
                type: "message"
                unread_count: 0
                user: "U2X9P5FEL"
              - parent_user_id: "U2X9P5FEL"
                text: "This is a thread reply"
                thread_ts: "1485913694.000025"
                ts: "1509484424.000601"
                type: "message"
                user: "U2U85N1RZ"
              - parent_user_id: "U2X9P5FEL"
                text: "This is another thread reply"
                thread_ts: "1485913694.000025"
                ts: "1509484885.000082"
                type: "message"
                user: "U2U85N1RZ"
              ok: true
          schema:
            type: "object"
            required:
            - "has_more"
            - "messages"
            - "ok"
            properties:
              has_more:
                type: "boolean"
              messages:
                type: "array"
                items: {}
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "channels.replies schema"
            description: "Schema for successful response from channels.replies method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "thread_not_found"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "channel_not_found"
                - "thread_not_found"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.replies error schema"
            description: "Schema for error response from channels.replies method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:history"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.replies"
  /channels.setPurpose:
    post:
      tags:
      - "channels"
      description: "Sets the purpose for a channel."
      operationId: "channels_setPurpose"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `channels:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "purpose"
        in: "formData"
        description: "The new purpose"
        required: false
        type: "string"
        x-exportParamName: "Purpose"
        x-optionalDataType: "String"
      - name: "channel"
        in: "formData"
        description: "Channel to set the purpose of"
        required: false
        type: "string"
        x-exportParamName: "Channel"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              ok: true
              purpose: "My special purpose"
          schema:
            type: "object"
            required:
            - "ok"
            - "purpose"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
              purpose:
                type: "string"
            title: "channels.setPurpose schema"
            description: "Schema for successful response from channels.setPurpose\
              \ method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "channel_not_found"
                - "not_in_channel"
                - "is_archived"
                - "too_long"
                - "user_is_restricted"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.setPurpose error schema"
            description: "Schema for error response from channels.setPurpose method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.setPurpose"
  /channels.setTopic:
    post:
      tags:
      - "channels"
      description: "Sets the topic for a channel."
      operationId: "channels_setTopic"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "topic"
        in: "formData"
        description: "The new topic"
        required: false
        type: "string"
        x-exportParamName: "Topic"
        x-optionalDataType: "String"
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `channels:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "channel"
        in: "formData"
        description: "Channel to set the topic of"
        required: false
        type: "string"
        x-exportParamName: "Channel"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              ok: true
              topic: "To picture topicality"
          schema:
            type: "object"
            required:
            - "ok"
            - "topic"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
              topic:
                type: "string"
            title: "channels.setTopic schema"
            description: "Schema for successful response from channels.setTopic method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "channel_not_found"
                - "not_in_channel"
                - "is_archived"
                - "too_long"
                - "user_is_restricted"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.setTopic error schema"
            description: "Schema for error response from channels.setTopic method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.setTopic"
  /channels.unarchive:
    post:
      tags:
      - "channels"
      description: "Unarchives a channel."
      operationId: "channels_unarchive"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `channels:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "channel"
        in: "formData"
        description: "Channel to unarchive"
        required: false
        type: "string"
        x-exportParamName: "Channel"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              ok: true
          schema:
            type: "object"
            required:
            - "ok"
            properties:
              ok:
                $ref: "#/definitions/defs_ok_true"
            title: "channels.unarchive schema"
            description: "Schema for successful response from channels.unarchive method"
            additionalProperties: {}
        default:
          description: "Typical error response"
          examples:
            application/json:
              error: "invalid_auth"
              ok: false
          schema:
            type: "object"
            required:
            - "error"
            - "ok"
            properties:
              error:
                type: "string"
                enum:
                - "channel_not_found"
                - "not_archived"
                - "not_authed"
                - "invalid_auth"
                - "account_inactive"
                - "token_revoked"
                - "no_permission"
                - "org_login_required"
                - "user_is_bot"
                - "user_is_restricted"
                - "invalid_arg_name"
                - "invalid_array_arg"
                - "invalid_charset"
                - "invalid_form_data"
                - "invalid_post_type"
                - "missing_post_type"
                - "team_added_to_org"
                - "invalid_json"
                - "json_not_object"
                - "request_timeout"
                - "upgrade_required"
                - "fatal_error"
              ok:
                $ref: "#/definitions/defs_ok_false"
            title: "channels.unarchive error schema"
            description: "Schema for error response from channels.unarchive method"
            additionalProperties: {}
      security:
      - slackAuth:
        - "channels:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.unarchive"
  /chat.delete:
    post:
      tags:
      - "chat"
      description: "Deletes a message."
      operationId: "chat_delete"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "as_user"
        in: "formData"
        description: "Pass true to delete the message as the authed user with `chat:write:user`\
          \ scope. [Bot users](/bot-users) in this context are considered authed users.\
          \ If unused or false, the message will be deleted with `chat:write:bot`\
          \ scope."
        required: false
        type: "boolean"
        x-exportParamName: "AsUser"
        x-optionalDataType: "Bool"
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `chat:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      - name: "ts"
        in: "formData"
        description: "Timestamp of the message to be deleted."
        required: false
        type: "number"
        x-exportParamName: "Ts"
        x-optionalDataType: "Float32"
      - name: "channel"
        in: "formData"
        description: "Channel containing the message to be deleted."
        required: false
        type: "string"
        x-exportParamName: "Channel"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Typical success response"
          examples:
            application/json:
              channel: "C024BE91L"
              ok: true
              ts: "1401383885.000061"
          schema:
            type: "object"
            required:
            - "channel"
            - "ok"
            - "ts"
[...]
